* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Colors varable declaration */
:root {
  --whiteBgColor: #ffffff;
  --BtnBgColor: #162d4c;
  --lightBlueColor: #0093C9;
  --yellowPrimaryColor : #FFB300;
  --boxesTextColor: #707070;
  --darkBlueTextColor: #101933;
  --bannerTextColor: #707585;
  --lightGreenColor: #28A745;
}
