* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  text-decoration: none;
  font: inherit;
  box-sizing: border-box;
}

/* Colors varable declaration */
:root {
  --whiteBgColor: #ffffff;
  --BtnBgColor: #162d4c;
  --lightBlueColor: #0093c9;
  --yellowPrimaryColor: #ffb300;
  --boxesTextColor: #707070;
  --darkBlueTextColor: #101933;
  --bannerTextColor: #707585;
  --lightGreenColor: #28a745;
  --inputFieldBorderColor: #d8dade;
  --footerBackgroundColor: #f6f6f7;
  --footerTextColor: #040c22;
  --latoFontFamily: "Lato", sans-serif;
  --rubikFontFamily: "Rubik", sans-serif;
  --arialFontFamily: "Arial", sans-serif;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  background-color: var(--whiteBgColor);
}

.banner {
  background-image: url(../assets/imgs/overlayBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.dashboardImg {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.contentContainer {
}

.BrandLogo {
  width: 150px;
  object-fit: contain;
  height: 45px;
}

.outline {
  outline: 1px solid blue;
}

.loginLink {
  font: normal normal 600 16px/19px Lato;
  letter-spacing: 0.32px;
  font-family: var(--latoFontFamily);
  font-style: normal;
  font-weight: 600;
  color: var(--darkBlueTextColor);
}

.loginLink:hover {
  opacity: 0.8;
  transition: all ease-in-out 350ms;
}

.getStartedBtn {
  border-radius: 8px;
  background-color: var(--BtnBgColor);
  min-width: 100px;
  padding: 0 1.2rem;
  height: 50px;
  color: var(--whiteBgColor);
  font-family: var(--latoFontFamily);
  text-align: center;
  font-size: 13px;
  font-weight: 800;
}

.getStartedBtn:hover {
  opacity: 0.8;
  transition: all ease-in-out 350ms;
}

.yellowGetStartedBtn {
  border-radius: 8px;
  background-color: var(--yellowPrimaryColor);
  min-width: 100px;
  width: 200px;
  padding: 0 1.2rem;
  height: 50px;
  color: var(--darkBlueTextColor);
  font-family: var(--latoFontFamily);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.yellowGetStartedBtn:hover {
  opacity: 0.8;
  transition: all ease-in-out 350ms;
}

.yellowFirstEscrow {
  letter-spacing: 1.2px;
  color: var(--yellowPrimaryColor);
  text-transform: uppercase;
  font-family: var(--rubikFontFamily);
  font-size: 13px;
  font-weight: 600;
  width: 150px;
}

.yellowFirstEscrow::before {
  content: "";
  display: flex;
  width: 20px;
  border: 1px solid var(--yellowPrimaryColor);
  background-color: var(--yellowPrimaryColor);
  margin-right: 10px;
}

.howItWorksYellow {
  letter-spacing: 1.2px;
  color: var(--yellowPrimaryColor);
  text-transform: uppercase;
  font-family: var(--rubikFontFamily);
  font-size: 13px;
  font-weight: 600;
  width: 200px;
}

.howItWorksYellow::before {
  content: "";
  display: flex;
  width: 20px;
  border: 1px solid var(--yellowPrimaryColor);
  background-color: var(--yellowPrimaryColor);
}
.howItWorksYellow::after {
  content: "";
  display: flex;
  width: 20px;
  border: 1px solid var(--yellowPrimaryColor);
  background-color: var(--yellowPrimaryColor);
}
.secondYellowFirstEscrow {
  letter-spacing: 1.2px;
  color: var(--yellowPrimaryColor);
  text-transform: uppercase;
  font-family: var(--rubikFontFamily);
  font-size: 13px;
  font-weight: 600;
  width: 263px;
}

.secondYellowFirstEscrow::before {
  content: "";
  display: flex;
  width: 20px;
  border: 1px solid var(--yellowPrimaryColor);
  background-color: var(--yellowPrimaryColor);
}
.secondYellowFirstEscrow::after {
  content: "";
  display: flex;
  width: 20px;
  border: 1px solid var(--yellowPrimaryColor);
  background-color: var(--yellowPrimaryColor);
}

.firstEscrow {
  letter-spacing: 1.2px;
  color: var(--BtnBgColor);
  text-transform: uppercase;
  font-family: var(--rubikFontFamily);
  font-size: 13px;
  font-weight: 600;
  width: 180px;
}

.firstEscrow::before {
  content: "";
  display: flex;
  width: 20px;
  border: 1px solid var(--lightBlueColor);
  background-color: var(--lightBlueColor);
}
.firstEscrow::after {
  content: "";
  display: flex;
  width: 20px;
  background-color: var(--lightBlueColor);
  border: 1px solid var(--lightBlueColor);
}
.mainTitle {
  color: var(--darkBlueTextColor);
  font-family: var(--arialFontFamily);
  font-weight: 700;
  font-size: 2.8rem;
  max-width: 600px;
  position: relative;
}

.elipses {
  position: absolute;
  width: 150px;
  top: -11px;
  right: 10%;
}

.contentDescription {
  color: var(--bannerTextColor);
  font-family: var(--latoFontFamily);
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  max-width: 650px;
}

.greenMoneyText {
  color: var(--lightGreenColor);
}

.bannerInputField {
  width: 390px;
  height: 60px;
  border: 1px solid var(--inputFieldBorderColor);
  border-radius: 12px;
  background: var(--whiteBgColor);
  padding: 8px 6px 8px 8px;
}

.bannerInputField input[type="text"] {
  border: none;
  font-family: var(--latoFontFamily);
  font-size: 16px;
  color: var(--bannerTextColor);
  flex: 0.9;
  font-weight: 600;
  outline: none;
}

.bannerInputField input[type="text"]::placeholder {
  font-family: var(--latoFontFamily);
  font-size: 14px;
  font-weight: 600;
  color: var(--bannerTextColor);
}

#FirstEscrowCanDo li {
  color: var(--boxesTextColor);
  letter-spacing: 0.18px;
  text-align: left;
  font-weight: normal;
  font-size: 15px;
}

.protectTitle {
  color: var(--darkBlueTextColor);
  letter-spacing: 0;
  font-family: var(--rubikFontFamily);
  font-weight: bold;
  font-size: 2.2rem;
}
.yellowText {
  color: var(--yellowPrimaryColor);
}
.box {
  width: 280px;
  height: 248px;
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.boxImage {
  width: 90px;
  background-color: transparent;
}

.boxTitle {
  color: var(--darkBlueTextColor);
  letter-spacing: 0;
  font-family: var(--rubikFontFamily);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.boxTextContent {
  text-align: center;
  color: var(--boxesTextColor);
  font-size: 13px;
  font-weight: 600;
  width: 95%;
}

.refundSection {
  background-color: var(--darkBlueTextColor);
  border-radius: 12px;
  background-image: url(/assets/imgs/NairaOverlayBg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 300px;
}

.refundSectionTextContent {
  text-align: left;
  font: normal normal medium 24px/40px Lato;
  font-size: 17px;
  font-weight: mdium;
  font-family: var(--latoFontFamily);
  letter-spacing: 0.19px;
  color: #ffffff;
}

.refundSectionTitle {
  color: var(--whiteBgColor);
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--rubikFontFamily);
}
.titleSide {
}

.footerSection {
  background-color: var(--footerBackgroundColor);
  border-radius: 12px;
  object-fit: cover;
  min-height: 250px;
}

.footerSocialIcon {
  height: 30px;
  width: 30px;
  background-color: var(--darkBlueTextColor);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 200ms ease-in-out;
}

.footerSocialIcon:hover {
  transform: scale(0.8);
}

.footerDate{
     color: var(--footerTextColor);
     width: 190px;
height: 19px;
}